.workout {
    background-color: white;
    border-radius: 13px;
    position: relative;
}

.workout img {
    width: 386px;
    height: 300px;
    border-radius: 8px;
    margin: 15px 15px;
}

.btn-add-to-list {
    width: 90%;
    /* padding: 15px 100px; */
    padding: 15px 0px;
    margin: 30px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 13px;
}