.header {
    height: 80px;
    background-color: #101b22;
    position: relative;
    z-index: 10;

}

.abc {
    background-color: rgba(16, 27, 34, 0.406);
}

#logo-img {
    padding-top: 15px;
    width: 250px;
    margin-left: -15px;
}

.btn-menu {
    background-color: rgb(94, 100, 106);
}

.header-list li:hover {
    transform: scale(1.2);
    transition: transform 2s ease;
}

@media screen and (max-width:576px) {
    #logo-img {
        width: 130px;
        margin-left: -15px;
    }
}